@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100lvw;
  height: 100lvh;
  overflow: hidden;
  font-family: 'Squada One', sans-serif;
}

.text {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  transform-style: preserve-3d;
  overflow: hidden;
}

.text {
  line-height: 0.7;
  .char-container {
    background-image: linear-gradient(
      to bottom right,
      var(--color-lime-200),
      var(--color-lime-300),
      var(--color-lime-500)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform-style: preserve-3d;
    * {
      background: inherit;
    }
    .char-top {
      position: relative;
      will-change: transform;
    }
    .char-bottom {
      position: absolute;
      will-change: transform;
      top: 0;
    }
  }
}
